<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
</nav>

    <form id="todo">
      <label for="todo1">enter todo and hit enter</label>
      <input type="text" value="" />
    </form>
    <ul></ul>
