.navbar {
  background-color: rgba(0,0,0,0);
  border-bottom: none;
  border-top: 5px solid aqua;
}
#todo {
  padding-top: 100px;
  text-align: center;
}
li {
  list-style-type: none;
}
.holler {
  padding-left: 10px;
}
